<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xin.lobinson.springboot.mapper.TCjxUserMapper">
  <resultMap id="BaseResultMap" type="xin.lobinson.springboot.entity.TCjxUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="info" jdbcType="VARCHAR" property="info" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="web" jdbcType="VARCHAR" property="web" />
  </resultMap>
</mapper>